<div class="Page Static Module View vp-min-height termsofservice" theme="DARK" style="">
    <div class="head">
        <app-nav></app-nav>
    </div>
    <div class="body">
        <div class="content hero centered">
            <h1 class="tagline">Terms of Service.</h1>
        </div>
        <div class="content content--with-layout">
            <div class="wrap">
                <div class="flex-grid-wrapped layout-wrapper">
                    <div class="flex-item flex-item--left layout-column">
                        <div class="content column">
                            <a id="welcome"></a>
                            <h2 class="transition-content" data-aos="fade-up">Welcome</h2>
                            <div class="transition-content" data-aos="fade-up">
                                <p>Welcome to the Stageverse, (“Stageverse”), owned and operated by Stage, Inc.
                                    (“Stage”). We want
                                    your experience in the Stageverse to be fun and exciting. So these Terms of Use
                                    (“Terms”) and the
                                    Stage <a [routerLink]="['/privacy']">Privacy Policy</a> provide guidance and rules
                                    on your use and
                                    interaction with the Stageverse.
                                    Whether you visit Stageverse through the Website or download the mobile or VR
                                    application,
                                    (collectively “Apps”) these Terms of Use (Terms) and the Stage <a
                                        [routerLink]="['/privacy']">Privacy Policy</a> represent an
                                    agreement between you and Stage regarding your use of and interaction with the Apps.
                                    By
                                    accessing, and/or downloading, and using the Apps you are agreeing to be bound by
                                    and to comply
                                    with these Terms of Use and the <a [routerLink]="['/privacy']">Privacy Policy</a>.
                                    Please do not use
                                    the Apps if you do not agree to
                                    all
                                    of these Terms including the terms of the <a [routerLink]="['/privacy']">Privacy
                                        Policy</a>. Stage
                                    has the right to revise these Terms
                                    at any time in its sole discretion. If Stage makes a material revision to the Terms
                                    we will let you
                                    know in the Apps and/or via text or email if you have provided us your mobile number
                                    or email
                                    address and agree that we can contact you. Your continued use of the Apps will
                                    confirm your
                                    acceptance of the revised Terms. If you do not agree to the revised Terms you must
                                    stop using the
                                    Apps. Since this is a contract, Stage has the right to terminate it and prevent you
                                    from using the
                                    Apps if you violate these Terms, in addition to pursuing any and all claims of
                                    relief available to
                                    Stage under the law.</p>
                            </div>
                        </div>
                        <div class="content column">
                            <a id="age"></a>
                            <h2 class="transition-content" data-aos="fade-up">You must be old enough</h2>
                            <div class="transition-content" data-aos="fade-up">
                                <p>You must be old enough to enter into a legally enforceable contract in your
                                    jurisdiction in order to
                                    use this Apps and agree to these Terms. If you are agreeing to these Terms and using
                                    the Apps on
                                    behalf of a company, you acknowledge and agree that you are legally entitled to bind
                                    the company
                                    to these Terms and that your use of the Apps on behalf of the company is fully
                                    authorized by your
                                    company.</p>
                            </div>
                        </div>
                        <div class="content column">
                            <a id="conduct"></a>
                            <h2 class="transition-content" data-aos="fade-up">Conduct in the Stageverse</h2>
                            <div class="transition-content" data-aos="fade-up">
                                <p>Stage is designed to be a social experience. Like going to your favorite concert in
                                    person or
                                    attending a fashion show, you will be interacting with other real people in through
                                    Avatar forms.
                                    What you say, your body language, and all your activities within the Stageverse will
                                    affect the
                                    people around you. If you are rude, vulgar, make other people uncomfortable, or do
                                    anything that
                                    Stage deems inappropriate in its sole discretion, you will be banned from the
                                    Stageverse. You are
                                    prohibited from engaging in racist, sexist, antisemitic, culturally insensitive,
                                    homophobic,
                                    political,
                                    infringing, and/or criminal word and/or conduct (“Prohibited Activities”). There is
                                    no first
                                    amendment right to engage in this type of speech in a private business. The only
                                    exceptions to this
                                    rule are for Content that is approved and offered to attendees by Stage (such as a
                                    comedy show, or
                                    a concert or even a political rally). In the event such Content contains Prohibited
                                    Activities that
                                    Stage deems reasonable entertainment, Stage will provide a warning label prior to a
                                    ticket purchase
                                    and/or entry to the event (if purchase is required).</p>
                            </div>
                        </div>
                        <div class="content column">
                            <a id="content"></a>
                            <h2 class="transition-content" data-aos="fade-up">The content</h2>
                            <div class="transition-content" data-aos="fade-up">
                                <p>The Stageverse gives you the opportunity to experience events from your favorite
                                    creators as if you
                                    were there in person, using cutting edge 3d technology (“Content”) and design. To do
                                    this, Stage
                                    has relationships with record labels, publishing companies, artists and concert
                                    promoters, brands
                                    and entertainment and sports companies to market and offer the Content to you.
                                    Because the
                                    events are presented in a virtual space, you can use special equipment (“VR
                                    Headsets”) to view
                                    them, in addition to a computer or a cell phone. VR Headsets are not provided by
                                    Stage and must be
                                    purchased separately in order to view the Content in Virtual Reality.</p>
                                <p>The Content may be available as scheduled Events, accessed on demand, or available in
                                    your own
                                    private virtual venue depending on the type of event. The Stageverse may also be
                                    available to you
                                    to explore and shop even when you are not attending an event. Some Content may only
                                    be available
                                    to access with a ticket, some Content may be available only on a temporary basis and
                                    sometimes
                                    Content will be removed if Stage no longer has the right to offer it. Stage has no
                                    obligation to
                                    refund
                                    any fees paid for accessing Content.</p>
                                <p>You can purchase tickets to Stageverse Content through the Stage box office, located
                                    at <a [routerLink]="['/']">www.stageverse.com</a>.
                                    Stage does not collect or store personal credit card or other payment information.
                                    Please see our
                                    <a [routerLink]="['/privacy']">Privacy Policy</a> for more information on what
                                    information we
                                    collect and how we store and use the
                                    information we collect.</p>
                                <p>Additionally, you will be able to purchase virtual and physical merchandise in the
                                    Stageverse. Some
                                    merchandise may come packaged with the purchase of a ticket to an event. Some
                                    merchandise may
                                    be available for purchase through the box office. And some may be made available for
                                    purchase in
                                    the Stageverse either using coins purchased at the box office or through payment
                                    from within the
                                    App.</p>
                            </div>
                        </div>
                        <div class="content column">
                            <a id="ip"></a>
                            <h2 class="transition-content" data-aos="fade-up">Intellectual property</h2>
                            <div class="transition-content" data-aos="fade-up">
                                <p>Everything in the Apps except your personal information that you provide us through
                                    the Apps is
                                    owned by Stage or our third-party partners. It is not owned by you. You cannot steal
                                    it, scrape it,
                                    copy it, revise it, reverse engineer it, or use it in any way other than how we have
                                    presented it to
                                    you on the Apps. Any violation of these Terms or improper use of the intellectual
                                    property in the
                                    Apps is a violation of law and Stage will cooperate with the intellectual property
                                    owners to
                                    prosecute such violations to the fullest extent of the law.</p>
                                <p>Any commercial distribution, publishing or exploitation of the Apps, or any Content,
                                    code, data or
                                    materials in the Apps, is strictly prohibited unless you have received the express
                                    prior permission
                                    of Stage or the applicable rights holder.  Once you have legally purchased a a
                                    ticket or access to
                                    Content in the Stageverse by registering, reading and agreeing to these Terms and,
                                    if required,
                                    paying any fees, you may watch the Content for so long as the Content is available
                                    based on the
                                    term provided you at the time of your purchase. The Content is made available only
                                    for your
                                    personal use. You may not otherwise copy, reproduce, distribute or otherwise exploit
                                    the Content. 
                                    If you make other use of the Content or the Apps, or the content, code, data or
                                    materials thereon,
                                    except as otherwise provided above, you may violate copyright and other laws of the
                                    United States,
                                    other countries, as well as applicable state laws and may be subject to liability
                                    for such
                                    unauthorized use.  Stage and its content providers will aggressively enforce its
                                    intellectual
                                    property
                                    rights to the fullest extent of the law, including but not limited to criminal
                                    prosecution.</p>
                                <p>Virtual Reality experiences have been reported to cause disorientation, cause
                                    dizziness. vision
                                    disturbances and other symptoms of discomfort. You should stop viewing the Content
                                    in VR if you
                                    experience any type of discomfort and consult a physician. If you choose to continue
                                    to view the
                                    Content on VR viewing devices, you do so at your own risk.</p>
                            </div>
                        </div>
                        <div class="content column">
                            <a id="accounts"></a>
                            <h2 class="transition-content" data-aos="fade-up">Accounts</h2>
                            <div class="transition-content" data-aos="fade-up">
                                <p>You agree that all information you provide through the Apps will be accurate,
                                    truthful, current and
                                    complete (“Account Information”) and you agree to ensure such information remains
                                    current and
                                    accurate for so long as you use the Apps and are accessing the Content. You shall
                                    not impersonate
                                    any person or entity or misrepresent your identity or you affiliation with any
                                    person or entity. You
                                    also agree to promptly notify us of any unauthorized use of your name or account in
                                    connection
                                    with the Apps. When you register with Stage and purchase and/or access Content, the
                                    information
                                    you provide to Stage may be shared with the licensor(s) of the Content you license.
                                    Details about
                                    how and when Stage may share your personal information can be found at the Stage
                                    Privacy Policy
                                    <a [routerLink]="['/privacy']">here</a>.</p>
                            </div>
                        </div>
                        <div class="content centered">
                            <hr class="transition-content" data-aos="fade-up">
                        </div>
                        <div class="content column">
                            <a id="disclaimer"></a>
                            <h2 class="transition-content" data-aos="fade-up">Disclaimer</h2>
                            <div class="transition-content" data-aos="fade-up">
                                <p>THE CONTENT ON OR OTHERWISE RELATED IN ANY WAY TO STAGE OR ANY THIRD PARTY
                                    APPS OR SERVICES LINKED TO FROM STAGE APPS IS PROVIDED &quot;AS IS&quot; AND WITHOUT
                                    WARRANTIES OF ANY KIND. TO THE FULLEST EXTENT PERMISSIBLE PURSUANT TO
                                    APPLICABLE LAW, WE DISCLAIM ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING
                                    WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, ACCURACY,
                                    COMPLETENESS, AVAILABILITY, SECURITY, COMPATABILITY AND NONINFRINGEMENT. WE
                                    DO NOT WARRANT THAT ANY CONTENT WILL BE ERROR-FREE, THAT ACCESS THERETO
                                    WILL BE UNINTERRUPTED, THAT DEFECTS WILL BE CORRECTED, OR THAT STAGE OR THE
                                    SERVERS THAT MAKE SUCH CONTENT AVAILABLE ARE FREE OF VIRUSES OR OTHER
                                    HARMFUL COMPONENTS. MOREOVER, YOU ASSUME THE ENTIRE COST OF ALL NECESSARY
                                    SERVICING, REPAIR OR CORRECTION. WE DO NOT WARRANT OR MAKE ANY
                                    REPRESENTATIONS REGARDING THE USE OR THE RESULTS OF THE USE OF ANY CONTENT.
                                    YOU HEREBY IRREVOCABLY WAIVE ANY CLAIM AGAINST US WITH RESPECT TO ANY
                                    CONTENT AND THE APPS AND WITH RESPECT TO ANY CONTENT YOU PROVIDE TO THIRD
                                    PARTY APPS (INCLUDING CREDIT CARD AND OTHER PERSONAL INFORMATION).</p>
                                <p>The above disclaimer applies to any and all damages, liability or injuries caused by
                                    any failure of
                                    performance, error, omission, interruption, deletion, defect, delay in operation or
                                    transmission,
                                    computer virus, communication line failure, theft or destruction of or unauthorized
                                    access to,
                                    alteration of, or use, whether for breach of contract, tort, negligence or any other
                                    cause of
                                    action.</p>
                                <p>We reserve the right to do any of the following, at any time, without notice, to: (1)
                                    modify, suspend
                                    or terminate the operation of or access to the Apps and/or Content or any portion
                                    thereof, for any
                                    reason; (2) modify or change the Apps and/or Content or any portion thereof, and any
                                    applicable
                                    policies or terms related thereto; and (3) interrupt the operation of the Apps
                                    and/or Content or any
                                    portion thereof, as necessary to perform routine or non-routine maintenance, error
                                    correction, or
                                    other changes.</p>
                            </div>
                        </div>
                        <div class="content column">
                            <a id="lol"></a>
                            <h2 class="transition-content" data-aos="fade-up">Limitation of Liability</h2>
                            <div class="transition-content" data-aos="fade-up">
                                <p>EXCEPT WHERE PROHIBITED BY LAW, IN NO EVENT WILL STAGE INC BE LIABLE TO YOU FOR
                                    ANY AND ALL DIRECT, INDIRECT, SPECIAL, CONSEQUENTIAL, EXEMPLARY, INCIDENTAL,
                                    PUNITIVE DAMAGES OR EXEMPLARY DAMAGES, INCLUDING BUT NOT LIMITED TO,
                                    DAMAGES FOR LOST PROFITS, REVENUE, GOODWILL, USE, DATA, OR OTHER INTANGIBLE
                                    LOSSES, EVEN IF STAGE.CO HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES,
                                    HOWEVER CAUSED, WHETHER IN CONTRACT, TORT, OR OTHERWISE, ARISING OUT OF OR
                                    RESULTING FROM: (I) THE USE OR THE INABILITY TO USE THE APPS, SERVICES OR
                                    CONTENT; (II) THE COST OF PROCUREMENT OF SUBSTITUTE GOODS AND SERVICES ARISING
                                    OUT OF YOUR USE OR INABILITY TO USE THE APPS OR CONTENT; OR (III) ANY OTHER
                                    MATTER RELATING TO THE APPS OR CONTENT. IF, NOTWITHSTANDING THE OTHER
                                    PROVISIONS OF THESE TERMS, STAGE IS FOUND TO BE LIABLE TO YOU FOR ANY DAMAGE OR
                                    LOSS WHICH ARISES OUT OF OR IS IN ANY WAY CONNECTED WITH YOUR USE OF THE APPS
                                    CONTENT, STAGE’S LIABILITY SHALL IN NO EVENT EXCEED THE TOTAL
                                    AMOUNT OF THE FEE(S) PAID BY YOU TO BUY CONTENT THROUGH THE
                                    APPS. THE LIMITATIONS, EXCLUSIONS AND DISCLAIMERS IN THIS SECTION AND
                                    ELSEWHERE IN THESE TERMS APPLY TO THE MAXIMUM EXTENT PERMITTED BY
                                    APPLICABLE LAW. SOME JURISDICTIONS DO NOT ALLOW THE LIMITATION OR EXCLUSION
                                    OF LIABILITY, SUCH AS FOR INCIDENTAL OR CONSEQUENTIAL DAMAGES, SO THE ABOVE
                                    LIMITATION OR EXCLUSION MAY NOT APPLY TO YOU.</p>
                            </div>
                        </div>
                        <div class="content column">
                            <a id="indemnification"></a>
                            <h2 class="transition-content" data-aos="fade-up">Indemnification</h2>
                            <div class="transition-content" data-aos="fade-up">
                                <p>You are responsible for maintaining the confidentiality of your username(s),
                                    password, as well as
                                    all activities that occur under your account(s). You hereby agree to indemnify,
                                    defend, and hold us,
                                    our licensors, agents, representatives and other authorized users, and each of the
                                    foregoing
                                    entities&#39; respective officers, directors, owners, employees, agents,
                                    representatives and assigns
                                    (collectively, the &quot;Indemnified Parties&quot;) harmless from and against any
                                    and all losses,
                                    damages,
                                    liabilities and costs (including settlement costs and any legal or other fees and
                                    expenses for
                                    investigating or defending any actions or threatened actions) incurred by the
                                    Indemnified Parties in
                                    connection with any claim arising out of any breach by you of these Terms or claims
                                    arising from
                                    your use of the Apps, the Content and/or your account(s). You shall use your best
                                    efforts to
                                    cooperate with us in the defense of any claim. We reserve the right, at our own
                                    expense, to employ
                                    separate counsel and assume the exclusive defense and control of any matter
                                    otherwise subject to
                                    indemnification by you.</p>
                            </div>
                        </div>
                        <div class="content column">
                            <a id="location"></a>
                            <h2 class="transition-content" data-aos="fade-up">Location and jurisdiction</h2>
                            <div class="transition-content" data-aos="fade-up">
                                <p>Stage and all the content therein is located in the United States of America. It may
                                    not be available
                                    or
                                    legal for your use in other jurisdictions. Your use of the Apps outside the United
                                    States is at your
                                    own initiative and any you must comply with the terms and territorial limitations of
                                    the license
                                    agreements for the Content you purchase.</p>
                                <p>You agree that any action at law or in equity arising out of or relating to these
                                    Terms, the Privacy
                                    Policy and the relationship between you and us shall be governed by and construed in
                                    accordance
                                    with the laws of the State of California, without regard to its principles of
                                    conflict of laws. You
                                    agree
                                    to submit to the personal and exclusive jurisdiction of the federal and state courts
                                    located in Los
                                    Angeles, CA and waive any jurisdictional, venue, or inconvenient forum objections to
                                    such courts.
                                </p>
                                <p>Effective as of July 24, 2020.</p>
                            </div>
                        </div>
                    </div>
                    <div class="flex-item flex-item--right layout-column hide-mobile">
                        <div class="sidebar-wrapper transition-content" data-aos="fade-up">
                            <h2>Table of Contents</h2>
                            <div>
                                <ul class="toc_list toc_list--level1 toc_list--single-level">
                                    <li>
                                        <a [routerLink]='' (click)="scrollTo('welcome')">Welcome</a>
                                    </li>
                                    <li>
                                        <a [routerLink]='' (click)="scrollTo('age')">You must be old enough</a>
                                    </li>
                                    <li>
                                        <a [routerLink]='' (click)="scrollTo('conduct')">Conduct in the Stageverse</a>
                                    </li>
                                    <li>
                                        <a [routerLink]='' (click)="scrollTo('content')">The content</a>
                                    </li>
                                    <li>
                                        <a [routerLink]='' (click)="scrollTo('ip')">Intellectual property</a>
                                    </li>
                                    <li>
                                        <a [routerLink]='' (click)="scrollTo('accounts')">Accounts</a>
                                    </li>
                                    <li>
                                        <a [routerLink]='' (click)="scrollTo('disclaimer')">Disclaimer</a>
                                    </li>
                                    <li>
                                        <a [routerLink]='' (click)="scrollTo('lol')">Limitation of liability</a>
                                    </li>
                                    <li>
                                        <a [routerLink]='' (click)="scrollTo('indemnification')">Indemnification</a>
                                    </li>
                                    <li>
                                        <a [routerLink]='' (click)="scrollTo('location')">Location and juristiction</a>
                                    </li>
                                </ul>
                            </div>
                            <hr>
                            <h2>Other Links</h2>
                            <div>
                                <ul class="toc_list toc_list--level1">
                                    <li>
                                        <a [routerLink]="['/privacy']">Privacy Policy</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content footer">
            <app-footer></app-footer>
        </div>
    </div>
</div>