@import "../overlay.component.scss";

.get-early-box{
    width: 43vh;
    height: 10vh;
    margin: 0px auto 25px auto;
}
.get-early-text{
    font-family: 'Druk Wide Bold';
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 130%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    @media (max-width: 799px) {
        font-size: 26px;
    }
}

.Overlay.EarlyAccess > .body {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.content.instructions {
    // background-repeat: no-repeat;
    // background-image: url('~/assets/images/early-access-gradient.jpg');
    // background-size: cover;
    // background: linear-gradient(115deg, #fc1470 0%, #cc18a6 50%, #8f06d1 100%);
    color: #ffffff !important;   
}

.Overlay.InPage .content.instructions {
    margin-top: 5rem;
}

.sms-number {
    padding: 1.3rem;
    border: 1px solid rgba(255,255,255, 0.45);
    font-size: 2.5rem;
    font-weight: bold;
    width: 100%;
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    @media (max-width: 799px) {
        padding: 1.2rem;
        font-size: 2.1rem;
    }

    @media (max-width: 399px) {
        padding: 1rem;
        font-size: 1.8rem;
    }
}

.register-option:not(:first-child) {
    margin-top: 1rem;
}

.modal-close-button {
    position: absolute;
    right: 0;
    top: 0;
    padding: 2rem;
    a {
    padding: 9px 10px;
    font-weight: bold;
    font-size: 10px;
    color: #ffffff;
    background-color: rgba(0,0,0, 0.35);
    border-radius: 20px;
    }
}

.my-input {
    cursor: text;
    padding: 16px 35px 15px 35px;
    width: 88%;
    font-size: 36px;
    color: #fff;
    border-top-left-radius: 50px;
    background: #665BFF;
    border: 1px solid rgba(255, 255, 255, 0.45);
    border-bottom-left-radius: 50px;
    line-height: 24px;
    letter-spacing: 0.01px;
    border-right: 0px;
    @media (max-width: 799px){
        padding: 14px 25px 14px 25px;
        width: 85%;
        font-size: 20px;
        border: 1px solid rgba(255, 255, 255, 0.45);
        line-height: 0px;
        border-right: 0px;
    }
}

.send-button {
    background: #665BFF;
    width: 10%;
    border: 1px solid rgba(255,255,255, 0.45);
    outline: none !important;
    height: 77px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-left: 0px;
    @media (max-width: 799px) {
        border: 1px solid rgba(255, 255, 255, 0.45);
        height: 54px;
        border-top-right-radius: 40px;
        border-bottom-right-radius: 40px;
        border-left: 0px;
        img{
            height: 20px;
            padding-right: 10px;
            }
    }
    
}
