<div>
        <div class="nav-container">
            <ul class="nav">
                <li class="nav-item"> 
                    <a routerLink="/"  class="nav-link">
                        
                        <img src="assets/images/ui-assets/Lockup.png" class="logo-stageverse" alt="Logo" />
                    </a> 
                </li>
                <li class="nav-item sm-hide"  style="display: flex;gap: 1px; float:right">
                    <a  class="nav-link" >
                        <img src="/assets/images/ui-assets/apple-button.png" style="height: 60px;">
                    </a>
                    <a  class="nav-link">
                        <img src="/assets/images/ui-assets/android-button.png" style="height: 60px;">
                    </a>
                    <a  class="nav-link" >
                        <img src="/assets/images/ui-assets/ring.png" style="height: 60px;">
                    </a>
                </li>
               <li class="nav-item disktop-hide" style="float: right !important; margin-top: -15px;"><a href="#" class="nav-link">
                   <img src="/assets/images/ui-assets/menu-icon.png" style="height: 50px;" />
               </a></li>
               <!-- <li class="nav-item"><a href="#" class="nav-link">Home</a></li> -->
            </ul>
        </div>
        <div class="body">
            <div class="hero-image">
                <h1 class="hero-text">COMPANY</h1>


            </div>
            <!-- =========================== -->
            <!-- =============================================================== -->
            <div class="p-y-30">
                <div class="container-flex">
                    <div class="flex-1">
                        <div>
                            <div>
                                <h2 class="h-2">Our mission is to UNITE COMMUNITES THROUGH CREATIVITY.</h2>
                            </div>
                            <div style="margin-top: 5vh;">
                                <p class="p-3">We are Stage Inc., an entertainment technology company and creator of Stageverse, a new virtual world for creative pioneers to make magic without limits, hosting unforgettable immersive shared experiences that bring people together through any mobile device - coming soon to desktop and virtual reality.</p>
    
                                <p class="p-3"> As the lines become blurred between our online and offline worlds, Stageverse is closing the gap between physical and virtual spaces and building a playground for creators and their communities to create the next generation of experiences.</p>
                                    
                                <p class="p-3">We're a completely distributed passionate team of creative technologists, engineers, architects, musicians, SFX artists, character designers, film-makers, game designers and marketers. Currently based out of Los Angeles and Sydney.</p>
                            </div>
                        </div>
                       
    
                    </div>
                    <div class="flex-1">
                        <div class="container-links">
                            <h4 class="sm-head"> Links</h4>
                            <ul>
                                <li class="p-y-10">
                                    <a routerLink="/company" class="links-a">Company</a>
                                </li>
                                <li class="p-y-10">
                                    <a routerLink="/creators"  class="links-a">Creators</a>
                                </li>
                                <li class="p-y-10">
                                    <a routerLink="/press"  class="links-a">Press</a>
                                </li>
                                <li class="p-y-10">
                                    <a routerLink="/privacy"  class="links-a">Privacy</a>
                                </li>
                                <li class="p-y-10">
                                    <a routerLink="/terms-of-service"  class="links-a">Terms</a>
                                </li>
                            </ul>
                        </div>
    
                    </div>
                </div>
            </div>
           
            <!-- =========================================================== -->
            <div>
                <div class="title-container">
                    <h1 class="title-sm">DOWNLOAD</h1>
                    <h1 class="title-lg">GET THE STAGEVERSE APP AND JUMP IN</h1>
                </div>
            </div>
            <div>
                <div class="download-container">
                    <a href="#" > <img src="/assets/images/ui-assets/ios-btn.png" class="download-img-btn" /></a>
                    <a href="#" ><img src="/assets/images/ui-assets/android-btn.png" class="download-img-btn" /></a>
                    <a href="#" ><img src="/assets/images/ui-assets/quest-btn.png" class="download-img-btn" /></a>
                    <h2 class="donwnload-sub-text">comming soom to mac and pc</h2>
                </div>
            </div>
            <div>
                <div class="example-collection-grid sm-hide">
                    <div class="example-collection-cell">
                        <div class="example-collection-item download-1">
                            <div class="download">
                                <h2 class="download-title">IOS</h2>
                                <img class="download-img" src="/assets/images/ui-assets/apple.png" />
                                <a class="left-image-text-btn download-btn" href="javascript:void(0);">Download<img src="/assets/images/ui-assets/arrow-white.png"/></a>
    
                            </div>
    
                        </div>
                    </div>
                    <div class="example-collection-cell ">
                        <div class="example-collection-item download-2" >
                            <div class="download">
                                <h2 class="download-title">android</h2>
                                <img class="download-img" src="/assets/images/ui-assets/android.png" />
                                <a class="left-image-text-btn download-btn" href="javascript:void(0);">Download<img src="/assets/images/ui-assets/arrow-white.png"/></a>
    
                            </div>
    
                        </div>
                    </div>
                    <div class="example-collection-cell">
                        <div class="example-collection-item download-3">
                            <div class="download">
                                <h2 class="download-title">Quest</h2>
                                <img class="quest" src="/assets/images/ui-assets/opera.png" />
                                <a class="left-image-text-btn download-btn" href="javascript:void(0);">Download<img src="/assets/images/ui-assets/arrow-white.png"/></a>
    
                            </div>
    
                        </div>
                    </div>
                    <div class="example-collection-cell">
                        <div class="example-collection-item download-4">
                            <div class="download coming-soon">
                                <img class="download-img" src="/assets/images/ui-assets/coming-soon.png" />
    
                            </div>
    
                        </div>
                    </div>
                </div>
            </div>
    
            <!-- =======================footer============================================================================================== -->
            <div>
                <div class="example-collection-grid footer-sm">
                    <div class="example-collection-cell">
                        <div class="example-collection-item" >
                            <div class="logo-container">
                                <img class="footer-logo" src="assets/images/ui-assets/Logo-comb.png" />
                                <h1 class="footer-big-text">CAREERS
                                    CREATORS
                                    PRESS
                                    COMPANY
                                    BLOG
                                    SUPPORT</h1>
                            </div>
                        </div>
                    </div>
                    <div class="example-collection-cell">
                        <div class="example-collection-item" >
                         <div class="footer-sub-contianer">
                            <h2 class="footer-sub-heading">FUTURE CULTURE HAPPENS HERE.</h2>
                            <p class="footer-p-text">Stageverse is an NFT-based metaverse of beautifully designed 3D spaces, called Stages, that aims to connect a vibrant, diverse and pioneering collective of people, creators, communities and brands. The collective use Stageverse to socialize, connect, create, discover, grow, elevate creativity and move culture forward.</p>
    
                        <div style="display: flex;flex-direction: row;">
    
                        <div class="leftinput" >
    
                        </div>
    
                               <div style="width: 100%;">
                            <input type="text" class="search" placeholder="Get News & Updates"/>
                        </div>
                            <div class="input-icon" ><img src="assets/images/ui-assets/arrow-white.png"/></div>
                        </div>
                            <div class="footer-social-media">
                                <div class="footer-small-text">
                                    <p style="font-size: 12px;">By signing up you are agreeing to the Stageverse <a style="text-decoration: underline;color: #fff;">Terms of Service</a> and Stageverse <a style="text-decoration: underline;color: #fff;">Privacy Policy</a>. You may unsubscribe at any time.</p>
    
                                </div>
                                <div class="social-media-footer-container">
                                    <a href="#" class="social-media-footer"><img src="assets/images/ui-assets/instagram.png" alt="instagram icon"></a>
                                    <a href="#" class="social-media-footer"><img src="assets/images/ui-assets/panda.png" alt="social icon"></a>
                                    <a href="#" class="social-media-footer"><img src="assets/images/ui-assets/linkedIn.png" alt="linkedIn icon"></a>
                                    <a href="#" class="social-media-footer"><img src="assets/images/ui-assets/twitter.png" alt="twitter icon"></a>
    
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
        <div class="content footer">
            <app-footer></app-footer>
        </div>
</div>