<div class="Page Static Module View vp-min-height privacy" theme="DARK" style="">
    <div class="head">
        <app-nav></app-nav>
    </div>
    <div class="body">
        <div class="content hero centered">
            <h1 class="tagline">Privacy Policy.</h1>
        </div>
        <div class="content content--with-layout">
            <div class="wrap">
                <div class="flex-grid-wrapped layout-wrapper">
                    <div class="flex-item flex-item--left layout-column">
                        <div id="TOP" class="content column">
                            <!-- <h2 class="heading-offset-top transition-content" data-aos="fade-up">Privacy Policy</h2> -->
                            <div class="transition-content" data-aos="fade-up">
                                <h1>At Stageverse, we want you to love your experience.</h1>
                                <p>To make sure this happens, we use technology to learn what you like and want. While
                                    we think our
                                    sites and apps are pretty cool, we also understand that you need to protect
                                    your privacy. We take that seriously.</p>
                                <p>Here's an overview of what we do. If it's not right for you, you don't have to use
                                    our services. If
                                    you go ahead and use them (and we hope you do), then you are agreeing to the policy
                                    we've set here
                                    and in our site's <a [routerLink]="['/terms-of-service']">Terms of Service</a>.</p>
                                <p>The controller of personal information in relation to this privacy policy is Stage,
                                    Inc. with offices
                                    at 6204 Banner Ave, #2, Los Angeles, California 90038, United States.</p>
                                <p>Stage, Inc. is the owner and operator of the Stageverse a virtual world of events and
                                    activities in
                                    3D
                                    video attended by avatars and featuring creators in the music, film, sports, fashion
                                    and
                                    entertainment world and offering virtual and physical good for purchase (“Events”).
                                    Stage offers its
                                    Events and services through three mediums –a website, a mobile application, and VR
                                    headsets
                                    (“collectively Apps”). This privacypolicy governs your use of any or all of these
                                    Apps. The content
                                    you interact with and experience in the Stageverse includes avatars, virtual goods
                                    and the
                                    technology that powers everything and also includes music, images, video
                                    (collectively “IP”) Footage
                                    is either owned by other third parties and licensed to Stage or independently
                                    developed by Stage. In
                                    addition to our protection of our own Footage, we have certain obligations to
                                    protect any
                                    third-party licensed Footage, to share some data about you if you are interacting
                                    with the
                                    third-party Footage and to report any infringing activity with respect to the
                                    Footage in agreements
                                    with the third parties. Please read the below policy carefully to understand how we
                                    collect, use,
                                    store and share your information.</p>
                                <p>Questions related to this privacy policy, your data, and/or Stage, Inc. data
                                    collection practices can
                                    be
                                    sent via email to: <a
                                        href="mailto:support@stageverse.com">support@stageverse.com</a></p>
                            </div>
                        </div>
                        <div class="content column">
                            <a id="I"></a>
                            <h2 class="transition-content" data-aos="fade-up">I. INFORMATION WE COLLECT</h2>
                            <div class="transition-content" data-aos="fade-up">
                                <a id="IA"></a>
                                <h3>A. NON-PERSONAL INFORMATION</h3>
                                <app-collapsible>
                                    <div class="content">
                                        <p>You are free to access the Apps without actively registering or providing
                                            Stage any personal
                                            information. The only information collected about you while you are visiting
                                            the website is
                                            your IP address for the purpose of identifying what country and state or
                                            province you are
                                            visiting us from. We collect this information in order to show you Content
                                            that is available
                                            to you (since some of our licensing agreements have territory limits). We do
                                            use cookies to
                                            track your activity on our website pages as we explain in detail below. As
                                            we will explain
                                            below, the data we collect from your browsing on our site cannot personally
                                            identify you and
                                            you can delete this data by deleting your browser cookies. However, if you
                                            do not register
                                            for the service and the only activity you do on the Apps is learn about the
                                            company and the
                                            Content that is available, there is no other information collected from you
                                            and there is
                                            nothing collected from you that can identify you personally.</p>
                                    </div>
                                </app-collapsible>
                                <a id="IB"></a>
                                <h3>B. PERSONAL INFORMATION</h3>
                                <app-collapsible>
                                    <div class="content">
                                        <p>Personal information is data that, directly or indirectly, can be used to
                                            identify or contact
                                            a single person. We collect, store and use only that personal information
                                            which is necessary
                                            for us to provide you services, upgrade and update our services and comply
                                            with our existing
                                            license agreements and the law.</p>
                                    </div>
                                </app-collapsible>
                                <a id="IB1"></a>
                                <h4>1. PERSONAL INFORMATION COLLECTED</h4>
                                <app-collapsible>
                                    <div class="content">
                                        <p>You will be asked to provide your personal information if you register for an
                                            account on the
                                            Apps. In order to access our Events, create an avatar and explore the
                                            Stageverse, you will
                                            need to register with us. When you create a user account, you will be asked
                                            to provide an
                                            email address and/or a cell number for text communications and a pin number
                                            as a password
                                            for your account. Your IP address will also be stored with your account
                                            information and will
                                            include your location as described above. Additionally, any actions you take
                                            on the Apps
                                            such as purchasingor registering for tickets to Events, purchasing virtual
                                            currency to use
                                            in the Stageverse, virtual and physical merchandise you purchase, how often
                                            you view
                                            theEvcents you purchase, the type of device through which you view the
                                            Events and/or any
                                            time you contact us with questions or feedback will be stored under your
                                            personal account.
                                            All Event related purchases you make will be processed through our partner
                                            Stripe. Stage
                                            does not receive or store credit card information or other personal
                                            information from the
                                            payment gateway providers other than confirmation that payment has been
                                            made, the Event
                                            related purchase and date of purchase, and your name. For information on the
                                            collection,
                                            storage and use of your information that you provide to Stripe, please see
                                            the Stripe
                                            privacy policy (<a target="_blank"
                                                href="https://stripe.com/privacy">https://stripe.com/privacy</a>).</p>
                                    </div>
                                </app-collapsible>
                                <a id="IB2"></a>
                                <h4>2. STAGE USES OF PERSONAL INFORMATION</h4>
                                <app-collapsible>
                                    <div class="content">
                                        <p>Stage uses the personal information we collect to communicate with you and to
                                            send you
                                            important notices, such as information about purchases, information on
                                            technical services
                                            issues, take-down notices and/or notices of violations of the Stageterms of
                                            use, support,
                                            security announcements and changes to our terms, conditions and policies.
                                        </p>
                                        <p>Stage uses the personal information you have provided to operate and improve
                                            its website,
                                            services and products, and to make them easier to use. The personal
                                            information may also be
                                            used by Stage for research and data analysis for the same purpose.</p>
                                        <p>Stage uses the personal information you have provided to operate and improve
                                            its website,
                                            services and products, and to make them easier to use. The personal
                                            information may also be
                                            used by Stage for research and data analysis for the same purpose.In
                                            addition, the personal
                                            information allows Stage to keep you informed about new products, software
                                            updates and
                                            upcoming events or information from our Event partners. If you do not want
                                            to receive such
                                            information, you can opt-out anytime bychanging your settings at your user
                                            account or by
                                            following the specific instructions in the e-mail or text you receive.</p>
                                        <p>If you elect to share your cell phone number with us and opt in to receiving
                                            communications
                                            by text, please be aware that you may incur a texting charge from your
                                            cellular service
                                            provider. If you change your mind about our contacting you by text, you can
                                            easily contact
                                            us and ask us to stop texting you by texting “STOP” in response to a text a
                                            by contacting us
                                            at <a href="mailto:support@stageverse.com">support@stageverse.com</a>.
                                        </p>
                                    </div>
                                </app-collapsible>
                                <a id="IB3"></a>
                                <h4>3. ACCESS, CORRECTION, DELETION OF PERSONAL DATA</h4>
                                <app-collapsible>
                                    <div class="content">
                                        <p>We want the information you provide us to be accurate and you have a legal
                                            right tosee the
                                            information we have collected from you. Therefore, you may request accessto
                                            your personal
                                            information processed by Stage so that you can request that Stage correct
                                            the information if
                                            it is inaccurate or, to some extent, request the deletion of data. We say
                                            “to a certain
                                            extent” because there is certain data that we cannot delete. If there is a
                                            claim of
                                            infringement by any of our Event partners, or we believe an infringement or
                                            misuse of the IP
                                            or the Apps has occurred, we have the right to deny your request to delete
                                            your data that
                                            applies to that claim until such time as an investigation has concluded
                                            and/or a resolution
                                            has occurred with respect to the claimed infringement or misuse, at which
                                            point we can
                                            delete any remaining data.</p>
                                    </div>
                                </app-collapsible>
                                <a id="IB4"></a>
                                <h4>4. PERSONAL INFORMATION STORAGE AND PROCESSING</h4>
                                <app-collapsible>
                                    <div class="content">
                                        <p>The personal information collected may be stored and processed in the United
                                            States or any
                                            other country which has the same level of protection for personal data, and
                                            in which Stage
                                            or its affiliates, subsidiaries or service providers maintain facilities.
                                            Stage’s Apps may
                                            contain links to third party websites, products and services. Stage does not
                                            receive
                                            personal information about you from any of the third-party apps it offers
                                            links to on the
                                            Apps. When you access the third-party appsfrom the Stage website you are
                                            leaving the Stage
                                            Apps and transacting on the third-party website. Information collected by
                                            third parties is
                                            governed by their privacy practices.</p>

                                        <p>Stage takes precautions to protect the security of your personal information
                                            against loss,
                                            disclosure, unauthorized use or other misuses. Personal information (like
                                            your email address
                                            etc.) are transmitted normally over the Internet, and this can never be
                                            guaranteed to be
                                            100% secure. As a result, while we strive to protect your personal
                                            information, we cannot
                                            guarantee the information will remain secure. Oncewe receive your
                                            information, we make our
                                            best effort to keep it secure in our
                                            systems. Where we have given (or where you have chosen) a pin number which
                                            enables you to
                                            access certain parts of our websites, you are responsible for keeping this
                                            pin number
                                            confidential. Please do not to share your pin number with anyone.</p>
                                    </div>
                                </app-collapsible>
                                <a id="IC"></a>
                                <h3>C. SHARING OF PERSONAL INFORMATION</h3>
                                <app-collapsible>
                                    <div class="content">
                                        <p>Stage does not sell, rent or share your personal information outside of the
                                            Stage Apps and
                                            our Events partners, except we do share certain information with third
                                            parties that we have
                                            a contractual relationship with that specialize in providing services that
                                            we cannot provide
                                            in-house as further detailed below. For information on how they handle
                                            personal and
                                            non-personal information they collect, please see their respective privacy
                                            policies.</p>
                                        <ul class="content-list compact">
                                            <li><strong>Amazon Web Services:</strong></li>
                                            <li>Stage, Inc.'s servers and databases are located on Amazon Web Services
                                                (AWS) located in
                                                the United States and is sometimes called the “Cloud”. We essentially
                                                rent space on
                                                servers and pay a monthly fee to store and process our data and your
                                                data on servers
                                                that are owned by Amazon. As part of the fee, Amazon also includes some
                                                security
                                                functions to protect the data. Based on the terms of our agreement with
                                                Amazon, Amazon
                                                has no access to and no right to use our data, which includes your data
                                                separate from
                                                the Cloud services.
                                            </li>
                                        </ul>
                                        <ul class="content-list compact">
                                            <li><strong>Akamai:</strong></li>
                                            <li>Stage, Inc.'s Content is stored on and streamed from Akamai servers in
                                                the United
                                                States. The only information collected and stored by Akamai is your IP
                                                address.
                                            </li>
                                        </ul>
                                        <ul class="content-list compact">
                                            <li><strong>ClearVR (Tiled Media):</strong></li>
                                            <li>ClearVR delivers Stage VR streamed content to VR devices. In connection
                                                with providing
                                                this service, ClearVR uses your IP address to stream Events and
                                                corresponding IP to your
                                                VR headset.
                                            </li>
                                        </ul>
                                        <ul class="content-list compact">
                                            <li><strong>Clicksend:</strong></li>
                                            <li>Clicksend helps us manage text communications with you if you agree to
                                                give us the right
                                                to communicate with you via text message.
                                            </li>
                                        </ul>
                                        <ul class="content-list compact">
                                            <li><strong>Mailchimp:</strong></li>
                                            <li>Mailchimp helps us to manage email communications with you if you agree
                                                to give us the
                                                right to communicate with you via email.
                                            </li>
                                        </ul>
                                        <p>Information we share with our Event partners may include your email address
                                            and purchases you
                                            make in connection with Events, the number of times you have attended Events
                                            and through
                                            which device you attend the Events. Within the App, if you elect to “unmask”
                                            your avatar on
                                            the service, your name will be visible, and your friends will be able to
                                            locate you in the
                                            Stageverse and likewise you will be able to locate your friends.</p>
                                    </div>
                                </app-collapsible>
                                <a id="ID"></a>
                                <h3>D. COOKIES AND OTHER TECHNOLOGIES</h3>
                                <app-collapsible>
                                    <div class="content">
                                        <p>Stage uses technologies called cookies, to collect information about the
                                            pages you view, the
                                            links you click and other actions you take on Stage’s website and
                                            services.Cookies are small
                                            text files that are stored on your hard drive through your web browser.</p>
                                        <p>Stage. may use cookies in order to store your preferences and other
                                            information on your
                                            computer in order to save time by eliminating the need to repeatedly enter
                                            the
                                            same information, for example by remembering log in information when you use
                                            Stage’s Apps.
                                            However, the cookies used on Stage’s websites do not contain information
                                            that identifies you
                                            personally.</p>
                                    </div>
                                </app-collapsible>
                                <a id="ID1"></a>
                                <h4>1. COOKIES IN APPS</h4>
                                <app-collapsible>
                                    <div class="content">
                                        <p>Stage uses session cookies as well as persistent cookies on its websites. A
                                            session cookie is
                                            a temporary cookie which is erased when a session is ended, i.e. usually
                                            when you close your
                                            browser, while a persistent cookie is stored in one of your browsers
                                            subfolders until you
                                            delete it manually using your browser “delete cookies” setting or when the
                                            persistent cookie
                                            is set to be deleted automatically.</p>
                                        <p>Examples of persistent cookies Stage uses are cookies to determine whether
                                            to show “sign
                                            up” or “log in” when prompting a user to log in and/or in order to remember
                                            information
                                            about a logged in user.</p>
                                    </div>
                                </app-collapsible>
                                <a id="ID2"></a>
                                <h4>1. THIRD PARTY COOKIES IN APPS</h4>
                                <app-collapsible>
                                    <div class="content">
                                        <p>Stage also uses third party cookies. We use third party cookies to understand
                                            how our Apps
                                            are being used, whether our Apps are working as they are intended, and
                                            understanding user’s
                                            interaction with the IP. Currently, our third-party service provider is
                                            Google Analytics.
                                            These cookies just provide us information on what pages you are looking at,
                                            what items on
                                            the pages you are clicking on, how much time you are spending on a page and
                                            other types of
                                            information that help us to understand how you are using our website and the
                                            pages and
                                            content in the website. The information collected through these third-party
                                            services may
                                            also be used by the third-party service. Please see the service privacy
                                            policy for more
                                            information.</p>
                                        <p>You have the ability to accept or decline cookies. Most web browsers
                                            automatically accept
                                            cookies, but you can modify your settings to decline cookies as well as
                                            delete existing
                                            cookies from your device if you prefer. If you choose to decline and/or
                                            delete cookies, you
                                            may not be able to use all features of Stage’s websites orservices that
                                            depend on cookies.
                                        </p>
                                    </div>
                                </app-collapsible>
                            </div>
                        </div>
                        <div class="content column">
                            <a id="II"></a>
                            <h2 class="transition-content" data-aos="fade-up">I. AGE LIMITATIONS</h2>
                            <div class="transition-content" data-aos="fade-up">
                                <app-collapsible>
                                    <div class="content">
                                        <p>You must be 16 years of age or older to use the Apps. If we discover you have
                                            lied and are
                                            using our site and apps by falsely claiming you are 16 year old or older, we
                                            will
                                            immediately disable your account, delete any personal information you have
                                            provided us.</p>
                                    </div>
                                </app-collapsible>
                            </div>
                        </div>
                        <div class="content column">
                            <a id="III"></a>
                            <h2 class="transition-content" data-aos="fade-up">III. UPDATES TO THE PRIVACY POLICY</h2>
                            <div class="transition-content" data-aos="fade-up">
                                <app-collapsible>
                                    <div class="content">
                                        <p>Stage may, occasionally, modify or update this Privacy Policy by posting a
                                            notice on the Apps
                                            with a link to the updated Privacy Policy, with a revised “last updated”
                                            date at
                                            the top of this
                                            statement. Additionally, if you have elected to register with Stage by
                                            providing
                                            your email
                                            address or cell phone number, Stage will send an email notification that the
                                            privacy policy has
                                            been updated and a link to review the new policy.</p>
                                        <p>Last Edited on 07/28/2020</p>
                                    </div>
                                </app-collapsible>
                            </div>
                        </div>
                    </div>
                    <div class="flex-item flex-item--right layout-column hide-mobile">
                        <div class="sidebar-wrapper transition-content" data-aos="fade-up">
                            <h2>Table of Contents</h2>
                            <div>
                                <ul class="toc_list toc_list--level1">
                                    <li>
                                        <a [routerLink]='' (click)="scrollTo('I')">I. INFORMATION WE COLLECT</a>
                                        <ul class="toc_list toc_list--level2">
                                            <li><a [routerLink]='' (click)="scrollTo('IA')">A. NON-PERSONAL
                                                    INFORMATION</a></li>
                                            <li>
                                                <a [routerLink]='' (click)="scrollTo('IB')">B. PERSONAL INFORMATION</a>
                                                <ul class="toc_list toc_list--level3">
                                                    <li><a [routerLink]='' (click)="scrollTo('IB')">1. PERSONAL
                                                            INFORMATION
                                                            COLLECTED</a></li>
                                                    <li><a [routerLink]='' (click)="scrollTo('IB2')">2. STAGE USES OF
                                                            PERSONAL INFORMATION</a></li>
                                                    <li><a [routerLink]='' (click)="scrollTo('IB3')">3. ACCESS,
                                                            CORRECTION, DELETION OF PERSONAL
                                                            INFORMATION</a></li>
                                                    <li><a [routerLink]='' (click)="scrollTo('IB4')">4. STORAGE AND
                                                            PROCESSING OF PERSONAL
                                                            INFORMATION</a></li>
                                                </ul>
                                            </li>
                                            <li><a [routerLink]='' (click)="scrollTo('IC')">C. SHARING OF PERSONAL
                                                    INFORMATION</a></li>
                                            <li>
                                                <a [routerLink]='' (click)="scrollTo('ID')">D. COOKIES AND OTHER
                                                    TECHNOLOGIES</a>
                                                <ul class="toc_list toc_list--level3">
                                                    <li><a [routerLink]='' (click)="scrollTo('ID1')">1. COOKIES IN
                                                            APPS</a></li>
                                                    <li><a [routerLink]='' (click)="scrollTo('ID2')">2. THIRD PARTY
                                                            COOKIES IN APPS</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a [routerLink]='' (click)="scrollTo('II')">II. AGE LIMITATIONS</a>
                                    </li>
                                    <li>
                                        <a [routerLink]='' (click)="scrollTo('III')">III. UPDATES TO THE PRIVACY
                                            POLICY</a>
                                    </li>
                                </ul>
                            </div>
                            <hr>
                            <h2>Other Links</h2>
                            <div>
                                <ul class="toc_list toc_list--level1">
                                    <li>
                                        <a [routerLink]="['/terms-of-service']">Terms of Service</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content footer invisible">
        <app-footer></app-footer>
    </div>
</div>