<div class="Page Static Module View vp-min-height press" theme="DARK" style="">
    <div class="head">
        <app-nav></app-nav>
    </div>
    <div class="body">
        <div class="content hero centered">
            <h1 class="tagline">Press Room.</h1>
        </div>
        <div class="content content--with-layout">
            <div class="wrap">
                <div class="flex-grid-wrapped layout-wrapper">
                    <div class="flex-item flex-item--left layout-column">
                        <div id="TOP" class="content column">
                            <div class="transition-content" data-aos="fade-up">
                                <h1>Stage Inc. is an entertainment technology company and creator of Stageverse.</h1>
                                <p>Stageverse is a
                                    mobile-first cross-platform network of virtual spaces for digital experiences at the
                                    intersection of entertainment, gaming and retail. We are a privately held company
                                    based in Los Angeles, California.</p>
                                <h2>Working on a Stageverse story?</h2>
                                <p>Members of the press can contact us at: <a
                                        href="mailto:press@stageverse.com">press@stageverse.com</a></p>
                            </div>
                        </div>
                        <div class="content column">
                            <div class="transition-content" data-aos="fade-up">
                                <img src="assets/images/pollstar_logo.png" style="width: 20rem; opacity: 1; margin-bottom: 1rem;">
                                <h2><a href="https://www.pollstar.com/article/muse-announces-mixed-reality-virtual-stadium-experience-with-stageverse-146219" target="_blank">Muse Announces Mixed-Reality Virtual Stadium Experience With Stageverse <span style="display: inline-block; vertical-align: bottom;" class="icon icon-arrow-right-thin"></span></a></h2>
                            </div>
                        </div>
                        <div id="LINKS" class="content column hide-desktop">
                            <div class="transition-content" data-aos="fade-up">
                                <h2>Links</h2>
                            <div>
                                <ul class="toc_list toc_list--mobile toc_list--level1">
                                    <li>
                                        <a href="https://www.dropbox.com/sh/14tedopw5oq1933/AACs-oNOhLu-RqP6FPyvTkkIa?dl=0"
                                            target="_blank">Brand assets</a>
                                    </li>
                                    <li>
                                        <a href="https://www.dropbox.com/sh/lr00rubracjnid9/AAA90OvippyeHl0lQgo8_EGsa?dl=0"
                                            target="_blank">Latest press releases</a>
                                    </li>
                                    <li>
                                        <a href="https://www.dropbox.com/sh/eha1fgc98kbpl0h/AABUQ2q2-RGS93CGNxVuk7Wwa?dl=0"
                                            target="_blank">Press images</a>
                                    </li>
                                </ul>
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="flex-item flex-item--right layout-column hide-mobile">
                        <div class="sidebar-wrapper transition-content" data-aos="fade-up">
                            <h2>Links</h2>
                            <div>
                                <ul class="toc_list toc_list--level1">
                                    <li>
                                        <a href="https://www.dropbox.com/sh/14tedopw5oq1933/AACs-oNOhLu-RqP6FPyvTkkIa?dl=0"
                                            target="_blank">Brand assets</a>
                                    </li>
                                    <li>
                                        <a href="https://www.dropbox.com/sh/lr00rubracjnid9/AAA90OvippyeHl0lQgo8_EGsa?dl=0"
                                            target="_blank">Latest press releases</a>
                                    </li>
                                    <li>
                                        <a href="https://www.dropbox.com/sh/eha1fgc98kbpl0h/AABUQ2q2-RGS93CGNxVuk7Wwa?dl=0"
                                            target="_blank">Press images</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content footer invisible">
        <app-footer></app-footer>
    </div>
</div>