<div class="Page Static Module View vp-min-height notfound" theme="DARK" style="">
    <div class="head">
        <app-nav></app-nav>
    </div>
    <div class="body">
        <div class="content hero centered">
            <div class="wrap wrap--flex wrap--centered align-center" data-aos="fade-up">
                <h1 class="tagline">Page Not Found</h1>
                <h2>Oops. We cannot find what you are looking for. Sorry for the inconvenience.</h2>
            </div>
        </div>
        <div class="content footer">
            <app-footer></app-footer>
        </div>
    </div>
</div>